.hero {
    height: 87vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: .6em .5em;
    border: 1px solid red;
}

.hero-banner{
    padding: .2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.hero-banner > div{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.hero-image-section {
    width: 100%;
    height: 50vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-title{
    color: var(--blue-violet);
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1;
}

.hero-orange{
    color: var(--banner-color);
}

.hero-text-big {
    font-size: 1.6em;
}

.hero-text{
    color: var(--text-color);
    font-size: 1em;
}

.hero-button{
    border: none;
    background-color: var(--blue-violet);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: var(--color-white);
    padding: .4em 1.5em;
    border-radius: 10px;
}