.hero {
    height: 87vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: .6em .5em;
}

.hero-banner{
    padding: .2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.hero-banner > div{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.hero-image-section {
    width: 100%;
    height: 50vh;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-title{
    color: var(--blue-violet);
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1;
}

.hero-orange{
    color: var(--banner-color);
}

.hero-text-big {
    font-size: 1.6em;
}

.hero-text{
    color: var(--text-color);
    font-size: 1em;
}

.hero-button{
    border: none;
    background-color: var(--blue-violet);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: var(--color-white);
    padding: .4em 1.5em;
    border-radius: 1em;
}

@media screen and (min-width: 45em) {

    .hero-title{
        color: var(--blue-violet);
        font-weight: 700;
        font-size: 2.4em;
        line-height: 1;
        width: 70%;
    }

    .hero{
        flex-direction: row-reverse;
        padding: 0 5.5em;
        margin-top: 2em;
        height: 70vh;
        border: 1px solid red;
    }

    .hero-image-section {
        width: 60%;
        height: 100%;
    }

    .hero-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .hero-banner{
        margin-top: 7em;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        gap: 3em;
    }

    .hero-banner > div{
        display: flex;
        flex-direction: column;
        gap: 4em;
    }

    .hero-text{
        color: var(--text-color);
        font-size: 1.5em;
    }

    .hero-button{
        border: 1px solid var(--blue-violet);
        background-color: var(--blue-violet);
        font-family: 'Poppins', sans-serif;
        font-size: 1.4em;
        color: var(--color-white);
        padding: .4em 1.4em;
        border-radius: .9em;
        cursor: pointer;
        transition: ease-in-out .3s;
    }

    .hero-button:hover{
        color: var(--blue-violet);
        background-color: var(--color-white);
    }
}